
.cookie-banner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #18BC9C;
    opacity: 0.5;
    padding: 25px;
}

.backtotop {
    position: fixed;
    right: 0;
    top: 60%;
    background-color: #18BC9C;
    padding: 10px;
    border-radius: 3px;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}